<div ng-controller="startGame">
    <div ng-if="gameStarted==false">
        <div class="row">
            <div class="col-md-12">
                <h2>Start new game</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-default" ng-click="addPlayer()">Add player</a>
                <a class="btn btn-default" ng-click="addComputer()">Add computer</a>
            </div>
        </div>
        <div class="row" ng-repeat="player in players">
            <div class="col-md-2">
                {{player.Type}}
            </div>
            <div class="col-md-4">
                <div ng-switch on="player.Type">
                    <div ng-switch-when="Humain">
                        <input type="text" value="{{player.Name}}" />
                    </div>
                    <div ng-switch-default>
                        {{player.Name}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {{player.State}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" ng-click="startGame()">Start with {{readyPlayers}} players</a>
            </div>
        </div>
    </div>
    <div ng-if="gameStarted==true">
        <div class="row">
            {{gameState}}
            <div class="col-md-12" ng-if="gameState.State=='Pricing'">
                <h2>Pricing the company {{gameState.Company}}</h2>
                <div class="input-group">
                    <input type="text" ng-model="price" class="form-control" placeholder="Price for {{gameState.Company}}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="setPrice()">Go!</button>
                    </span>
                </div>
            </div>
            <div class="col-md-12" ng-if="gameState.State=='ManagerChange'">
                <h2>Vote for a manager for {{gameState.Company}}</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="manager in availableManagers">{{manager.Name}}</a>
                </div>
                <button class="btn btn-default" type="button" ng-click="voteManagers()">Go!</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 opponent" ng-repeat="opponent in opponents">
                <div>{{opponent.Name}}</div>
                <div>{{opponent.Money}}</div>
                <div ng-repeat="actionGroup in opponent.Actions">
                    {{actionGroup.Company}} : {{actionGroup.Count}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 company {{company.Name}}" ng-repeat="company in companies">
                <h4>{{company.Name}}</h4>
                <div>Money : {{company.Money}}</div>
                <div>MarketShare : {{company.MarketShare}}</div>
                <div class="manager">
                    <h4>{{company.Manager.Name}}</h4>
                    <div>Bonus : {{company.Manager.Bonus}}</div>
                    <div>Innovation : {{company.Manager.Innovation}}</div>
                    <div>from : {{company.Manager.InnovationFrom}}</div>
                    <div>to : {{company.Manager.InnovationTo}}</div>
                    <div>Optimisation : {{company.Manager.Optimisation}}</div>
                    <div>Promotion : {{company.Manager.Promotion}}</div>
                    <div>Dividends : {{company.Manager.Dividends}}</div>
                </div>
                <div ng-repeat="ressource in company.Ressources">
                    {{ressource.RessourceName}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 manager" ng-repeat="manager in availableManagers">
                <h4>{{manager.Name}}</h4>
                <div>Bonus : {{manager.Bonus}}</div>
                <div>Innovation : {{manager.Innovation}}</div>
                <div>from : {{manager.InnovationFrom}}</div>
                <div>to : {{manager.InnovationTo}}</div>
                <div>Optimisation : {{manager.Optimisation}}</div>
                <div>Promotion : {{manager.Promotion}}</div>
                <div>Dividends : {{manager.Dividends}}</div>
            </div>
            <div class="col-md-2">
                <div>Year 1 of 7</div>
                <div>
                    <b>Athena</b> -> Mercury -> Jupiter
                </div>
            </div>
            <div class="col-md-4">
                <div>Ressource prices</div>
                <div ng-repeat="ressource in ressources">{{ressource.RessourceName}} : {{ressource.Price}}</div>
            </div>
        </div>
        <div class="row opponent">
            <div class="col-md-2">
                <div>{{currentPlayer.Name}}</div>
                <div>{{currentPlayer.Money}}</div>
                <div ng-repeat="actionGroup in currentPlayer.Actions">
                    {{actionGroup.Company}} : {{actionGroup.Count}}
                </div>
            </div>
            <div class="col-md-2" ng-repeat="gameEvent in currentPlayer.Events">
                {{gameEvent.Probability}}%
                <div ng-repeat="gameEventAction in gameEvent.Action">
                    {{gameEventAction.Name}}
                </div>
            </div>
        </div>
    </div>
</div>