<div ng-controller="startGame">
    <div ng-if="gameStarted==false">
        <div class="row">
            <div class="col-md-12">
                <h2>Start new game</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-default" ng-click="addPlayer()">Add player</a>
                <a class="btn btn-default" ng-click="addComputer()">Add computer</a>
            </div>
        </div>
        <div class="row" ng-repeat="player in players">
            <div class="col-md-2">
                {{player.Type}}
            </div>
            <div class="col-md-4">
                <div ng-switch on="player.Type">
                    <div ng-switch-when="Humain">
                        <input type="text" value="{{player.Name}}" />
                    </div>
                    <div ng-switch-default>
                        {{player.Name}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {{player.State}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" ng-click="startGame()">Start with {{readyPlayers}} players</a>
            </div>
        </div>
    </div>
    <div ng-if="gameStarted==true">
        <div class="row">
            {{gameState}}
            <div class="col-md-12" ng-if="gameState.State=='Pricing'">
                <h2>Pricing the company {{gameState.Company}}</h2>
                <div class="input-group">
                    <input type="text" ng-model="price" class="form-control" placeholder="Price for {{gameState.Company}}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="setPrice()">Go!</button>
                    </span>
                </div>
            </div>
            <div class="col-md-12" ng-if="gameState.State=='ManagerChange'">
                <h2>Vote for a manager for {{gameState.Company}}</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="manager in availableManagers">{{manager.Name}}</a>
                </div>
                <button class="btn btn-default" type="button" ng-click="voteManagers()">Go!</button>
            </>
        </div>
        <div class="row">
            <div class="col-md-2 opponent" ng-repeat="opponent in opponents">
                <div class="avatar"></div>
                <div>{{opponent.Name}}</div>
                <div>{{opponent.Money}}</div>
                <div ng-repeat="actionGroup in opponent.Actions">
                    <div class="action action-{{actionGroup.Company}}" ng-repeat="action in getNumber(actionGroup.Count) track by $index">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="company {{company.Name}}" ng-repeat="company in companies">
                <h4 class="company-header">{{company.Name}}</h4>
                <table style="width: 100%; height: 100%">
                    <tr style="width: 100%">
                        <td style="vertical-align: top">
                            <table class="market-share">
                                <tr ng-repeat="perc in getNumber(20) track by $index">
                                    <td ng-class="{'active':company.MarketShare>=(20-$index)*5}"></td>
                                </tr>
                            </table>
                        </td>
                        <td style="vertical-align: top; width: 100%;align-items: center">
                            <div class="capital"><span class="glyph-icon flaticon-stock7">{{company.Money}}</span></div>
                        </td>
                        <td>
                            <div class="ressource" ng-repeat="ressource in company.Ressources">
                                <span ng-class="{'glyph-icon': true,'flaticon-mine2': ressource.Ressource==0,'flaticon-arm2': ressource.Ressource==1,'flaticon-petrol3': ressource.Ressource==2}"></span>
                            </div>
                        </td>
                        <td>
                            <div class="manager {{company.Manager.Name|lowercase}}">
                                <h4>{{company.Manager.Name}}</h4>
                                <div>
                                    <div style="vertical-align: top; float: left; padding: 5px">
                                        <span ng-if="company.Manager.Innovation>0" ng-class="{'glyph-icon': true,'flaticon-mine2': company.Manager.InnovationTo==0,'flaticon-arm2': company.Manager.InnovationTo==1,'flaticon-petrol3': company.Manager.InnovationTo==2}"></span>
                                    </div>
                                    <div style="vertical-align: top; float: right; padding: 5px">
                                        <span ng-if="company.Manager.Dividends==true" style="font-size: 20px; color: blanchedalmond;" class="glyph-icon flaticon-coins1"></span>
                                    </div>
                                </div>
                                <table class="manager-param">
                                    <tr ng-repeat="n in [3,2,1]">
                                        <td>
                                            <span ng-class="{'tranparent20': (n > company.Manager.Innovation)}" class="glyph-icon flaticon-inspiration"></span>
                                        </td>
                                        <td>
                                            <span ng-class="{'tranparent20': (n > company.Manager.Optimisation)}" class="glyph-icon flaticon-gear39" />
                                        </td>
                                        <td>
                                            <span ng-class="{'tranparent20': (n > company.Manager.Promotion)}" class="glyph-icon flaticon-email150"></span>
                                        </td>
                                        <td></td>
                                        <td><span class="glyph-icon flaticon-savings" ng-if="n == 1">{{company.Manager.Bonus}}</span></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" ng-repeat="manager in availableManagers">
                <div class="manager {{manager.Name|lowercase}}">
                    <h4>{{manager.Name}}</h4>
                    <div>
                        <div style="vertical-align: top; float: left;padding: 5px">
                            <span ng-if="manager.Innovation>0" ng-class="{'glyph-icon': true,'flaticon-mine2': manager.InnovationTo==0,'flaticon-arm2': manager.InnovationTo==1,'flaticon-petrol3': manager.InnovationTo==2}"></span>
                        </div>
                        <div style="vertical-align: top; float: right;padding: 5px">
                            <span ng-if="manager.Dividends==true" style="font-size: 20px; color: blanchedalmond;" class="glyph-icon flaticon-coins1"></span>
                        </div>
                    </div>
                    <table class="manager-param">
                        <tr ng-repeat="n in [3,2,1]">
                            <td>
                                <span ng-class="{'tranparent20': (n > manager.Innovation)}" class="glyph-icon flaticon-inspiration"></span>
                            </td>
                            <td>
                                <span ng-class="{'tranparent20': (n > manager.Optimisation)}" class="glyph-icon flaticon-gear39" />
                            </td>
                            <td>
                                <span ng-class="{'tranparent20': (n > manager.Promotion)}" class="glyph-icon flaticon-email150"></span>
                            </td>
                            <td></td>
                            <td><span class="glyph-icon flaticon-savings" ng-if="n == 1">{{manager.Bonus}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <div>Year 1 of 7</div>
                <div>
                    <b>Athena</b> -> Mercury -> Jupiter
                </div>
            </div>
            <div class="col-md-4">
                <div>Ressource prices</div>
                <div ng-repeat="ressource in ressources">{{ressource.RessourceName}} : {{ressource.Price}}</div>
            </div>
        </div>
        <div class="row opponent">
            <div class="col-md-2">
                <div>{{currentPlayer.Name}}</div>
                <div>{{currentPlayer.Money}}</div>
                <div ng-repeat="actionGroup in currentPlayer.Actions">
                    {{actionGroup.Company}} : {{actionGroup.Count}}
                </div>
            </div>
            <div class="col-md-2" ng-repeat="gameEvent in currentPlayer.Events">
                {{gameEvent.Probability}}%
                <div ng-repeat="gameEventAction in gameEvent.Action">
                    {{gameEventAction.Name}}
                </div>
            </div>
        </div>
    </div>
</div>