.opponent {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 20px; 
    margin-right: 20px; 
}
.manager {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px;
}
.company {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 20px; 
    margin-right: 20px; 
    width: 25%; 
}
.Athena {
    background: #6275ff;
}
.Jupiter {
    background: #00bb83;
}
.Mercury {
    background: #bb8a00;
}