body {
    margin-left: 15px;
}
.opponent {
    padding: 20px;
    margin-right: 20px;
}

.opponent .avatar {
    width: 60px;
    height: 60px;
    background-size: 60px;
    border-radius: 50px;
    border: 1px solid #000000;
    background-image: url(http://lorempixel.com/60/60/);
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
}

.manager {
    width: 200px;
    height: 260px;
    border-radius: 2px;
    border: 1px solid #000000;
    margin-right: 10px;
    background-size: 200px;
    background-repeat: no-repeat;
    font-size: 20px;
    color: blanchedalmond;
    text-shadow: 0px 0px 6px #000000;
}

.manager-param {
    margin-top: 120px;
}

.manager .glyph-icon::before {
    margin-left: 0px;
}

.manager-param td {
    width: 60px;
    height: 30px;
    padding: 5px;
}

.manager:hover {
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.75);
    margin-top: -4px;
}

.tranparent20 {
    opacity: 0.1;
}

.manager h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 3px;
    background-color: black;
    color: white;
    height: 25px;
}

.alphonse {
    background-image: url(images/alphonse.jpg);
}

.boris {
    background-image: url(images/boris.jpg);
}

.colette {
    background-image: url(images/colette.jpg);
}

.derek {
    background-image: url(images/derek.jpg);
}

.edouard {
    background-image: url(images/edouard.jpg);
}

.francois {
    background-image: url(images/francois.jpeg);
}

.gaston {
    background-image: url(images/gaston.jpeg);
}

.ingrid {
    background-image: url(images/ingrid.jpeg);
}

.helene {
    background-image: url(images/helene.jpg);
}

.company {
    width: 30%;
    margin-right: 5px;
    background-color: bisque;
    float:left
}

.company .company-header {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 3px;
    color: white;
    height: 25px;
}

.Athena .company-header {
    background-color: #6275ff;
}

.Jupiter .company-header {
    background-color: #00bb83;
}

.Mercury .company-header {
    background-color: #bb8a00;
}

.ressource {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid #000000;
    background-color: #000000;
    padding: 3px;
    margin: 3px;
}

.ressource .glyph-icon {
    color: bisque;
}

.ressource .glyph-icon::before {
    font-size: 20px;
    margin-left: 4px;
}

.market-share {
    width: 15px;
    height: 300px;
}
.market-share tr{
    line-height: 0px;
    padding: 0px;
}
.market-share td{
    height: 10px;
    line-height: 0px;
    padding: 0px;
    border: 1px solid #000000;
}

.market-share td.active{
    background-color: #0000cd;
}

.capital .glyph-icon::before {
    font-size: 100px;
}

.action {
    width: 25px;
    height: 30px;
    float: left;
    border: 1px black solid; 
}

.action-offset {
    margin-left: -20px;
}

.action-first {
    margin-left: 5px;
}

.action-group:hover .action{
    margin-left: -10px;
}

.action-group:hover .action-first{
    margin-left: 5px;
}


.action-count {
    line-height: 35px;
    margin-left: -15px;
    float: left;
}

.action-Athena {
    background: url(images/athena_action.png);
    background-size: 25px;
}
.action-Mercury {
    background: url(images/mercury_action.png);
    background-size: 25px;
}
.action-Jupiter {
    background: url(images/jupiter_action.png);
    background-size: 25px;
}


.small-text {
    color: black;
    text-shadow: -1px 0 bisque, 0 1px bisque, 1px 0 bisque, 0 -1px bisque;
}