.opponent {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 20px; 
    margin-right: 20px; 
}
.manager {
    width: 200px;
    height: 260px;
    border-radius: 2px;
    border: 1px solid #000000;
    margin-right: 10px;
    background-size: 200px;
    background-repeat: no-repeat;
    font-size: 20px;
    color: blanchedalmond;
    text-shadow: 0px 0px 6px #000000;
}
.manager-param {
    margin-top: 120px;
}
.manager .glyph-icon::before{
    margin-left: 0px;
}
.manager-param td{
    width: 60px;
    height: 30px;
    padding: 5px;
}
.manager:hover {
    -webkit-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.75);
    margin-top: -10px;
}
.tranparent20 {
    opacity: 0.1
}
.manager h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 3px;
    background-color: black;
    color: white;
    height: 25px;
}
.alphonse {
    background-image: url(images/alphonse.jpg);
}
.boris {
    background-image: url(images/boris.jpg);
}
.colette {
    background-image: url(images/colette.jpg);
}
.derek {
    background-image: url(images/derek.jpg);
}
.edouard {
    background-image: url(images/edouard.jpg);
}
.francois {
    background-image: url(images/francois.jpeg);
}
.gaston {
    background-image: url(images/gaston.jpeg);
}
.ingrid {
    background-image: url(images/ingrid.jpeg);
}
.helene {
    background-image: url(images/helene.jpg);
}
.company {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 5px; 
    margin-right: 5px; 
    background-color: bisque
}
.Athena {
    border: 10px solid #6275ff;
}
.Jupiter {
    border: 10px solid #00bb83;
}
.Mercury {
    border: 10px solid #bb8a00;
}